<a href="https://colab.research.google.com/github/KenMuriuki/Autolib-Project/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2020_05_Kennedy_Muriuki_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Moringa Data Science Prep Independent Project: Week 4

# Questions
The research questions have been provided in the LMS



Datasets provided


*   Autolib_dataset(2).csv (http://bit.ly/autolib_dataset)
*   Autolib_DDI_DB_description_MoringaSchool_w4(https://drive.google.com/file/d/13DXF2CFWQLeYxxHFekng8HJnH_jtbfpN/view)

# Importing our Libraries

In [0]:
# loading the libraries
import pandas as pd

import numpy as np

# Reading the Dataset from our CSV file

In [0]:
# loading the dataset

df = pd.read_csv('http://bit.ly/autolib_dataset')

# Previewing our dataset

In [6]:
# preview the first five rows of the dataset
df.head()

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

# Accessing information about our Dataset

In [7]:
# accessing the information about our dataset 
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

# Cleaning our dataset
Here I performed a series of steps to guarantee the quality of the data

## Completeness

In [20]:
# Procedure 1
# Data cleaning actions : Dropping the columns with the missing values
# Explanation : Columns with a lot of missing values will be dropped since no meaningful insights can be drawn
df.drop(['Displayed comment','Scheduled at'], axis=1, inplace=True)
df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 23 columns]

In [21]:
# checking the dataset for missing values
df.isnull().sum()

Address                0
Cars                   0
Bluecar counter        0
Utilib counter         0
Utilib 1.4 counter     0
Charge Slots           0
Charging Status        0
City                   0
ID                     0
Kind                   0
Geo point              0
Postal code            0
Public name            0
Rental status          0
Slots                  0
Station type           0
Status                 0
Subscription status    0
year                   0
month                  0
day                    0
hour                   0
minute                 0
dtype: int64

## Validity

In [22]:
# Procedure 1 
# Data cleaning actions : Dropping irrelevant attributes 
# Explanation : This will produce a dataset that is relevant and easily understood for this study
df.drop(['Cars','Charge Slots','Charging Status','ID','Kind','Geo point','Public name','Rental status','Slots','Station type','Status','Subscription status'], axis=1, inplace=True)
df.head()

                              Address  Bluecar counter  ...  hour  minute
0                 2 Avenue de Suffren                0  ...    11      43
1           145 Rue Raymond Losserand                6  ...     7      24
2    2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3              51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4  6 avenue de la Porte de Champerret                3  ...    17      23

[5 rows x 11 columns]

In [24]:
# Procedure 2
# Changing the items of the columns into lowercase
df.columns = map(str.lower, df.columns)
df

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 11 columns]

## Consistency

In [30]:
# Procedure 1 
# Data cleaning actions : Checking for duplicates
# 
df.duplicated().head(10)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
9    False
dtype: bool

## Uniformity

In [38]:
# Procedure 1 
# Data cleaning actions : Merging the columns year, month, day to create date column
# Explanation : It will enable us work on our dataset much easier
import datetime
df['date'] = df.apply(lambda x: datetime.date(x['year'], x['month'], x['day']), axis = 1)
df.head()

                              address  bluecar counter  ...  minute        date
0                 2 Avenue de Suffren                0  ...      43  2018-04-08
1           145 Rue Raymond Losserand                6  ...      24  2018-04-06
2    2 Avenue John Fitzgerald Kennedy                3  ...      14  2018-04-03
3              51 Rue EugÃ¨ne OudinÃ©                3  ...      37  2018-04-04
4  6 avenue de la Porte de Champerret                3  ...      23  2018-04-08

[5 rows x 12 columns]

In [40]:
# Procedure 2 
# Data cleaning actions : Merging the columns hour & minute to create time column
# Explanation : It will enable us work on our dataset much easier

df['time'] = df.apply( lambda x: datetime.time(x['hour'],x['minute']), axis=1)
df.head()

                              address  bluecar counter  ...        date      time
0                 2 Avenue de Suffren                0  ...  2018-04-08  11:43:00
1           145 Rue Raymond Losserand                6  ...  2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy                3  ...  2018-04-03  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©                3  ...  2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret                3  ...  2018-04-08  17:23:00

[5 rows x 13 columns]

In [44]:
# Procedure 3
# dropping the columns that are not needed

df = df.drop(['year','month','day','hour','minute'], axis=1, inplace=True)
df.head()

                              address  bluecar counter  ...        date      time
0                 2 Avenue de Suffren                0  ...  2018-04-08  11:43:00
1           145 Rue Raymond Losserand                6  ...  2018-04-06  07:24:00
2    2 Avenue John Fitzgerald Kennedy                3  ...  2018-04-03  20:14:00
3              51 Rue EugÃ¨ne OudinÃ©                3  ...  2018-04-04  04:37:00
4  6 avenue de la Porte de Champerret                3  ...  2018-04-08  17:23:00

[5 rows x 8 columns]

In [47]:
# Procedure 4
# checking the type of data we hve
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             5000 non-null   object
 1   bluecar counter     5000 non-null   int64
 2   utilib counter      5000 non-null   int64
 3   utilib 1.4 counter  5000 non-null   int64
 4   city                5000 non-null   object
 5   postal code         5000 non-null   int64
 6   date                5000 non-null   object
 7   time                5000 non-null   object
dtypes: int64(4), object(4)
memory usage: 312.6+ KB

In [0]:
# Procedure 5
# change date column to date time
df['date'] = pd.to_datetime(df['date'])

In [49]:
# Procedure 6
# checking the type of data we have
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             5000 non-null   object
 1   bluecar counter     5000 non-null   int64
 2   utilib counter      5000 non-null   int64
 3   utilib 1.4 counter  5000 non-null   int64
 4   city                5000 non-null   object
 5   postal code         5000 non-null   int64
 6   date                5000 non-null   datetime64[ns]
 7   time                5000 non-null   object
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 312.6+ KB

# Exporting the Clean dataset

In [0]:
# exporting the dataset into a csv file
df.to_csv('Autolib_dataset_clean')

# Analysis

In [118]:
# Question 1
# Identify the most popular hour of the day for picking up a Bluecar in the city of Paris
#df1 = df[['address','bluecar counter','city','time']].sort
df1 = df[['bluecar counter','time']][(df['bluecar counter']==0) & (df['city']=='Paris')].groupby(['time']).count()
df1.head(10)

          bluecar counter
time
00:00:00                1
00:01:00                1
00:02:00                3
00:04:00                2
00:05:00                1
00:06:00                2
00:08:00                1
00:09:00                1
00:13:00                1
00:14:00                1

In [59]:
df1.sort_values(by = 'bluecar counter', ascending=False).head()

          bluecar counter
time
08:11:00                6
16:31:00                6
21:09:00                5
03:45:00                5
07:46:00                4

In [60]:
# Question 2
# What was the most popular hour for returning cars?
df1.sort_values(by = 'bluecar counter', ascending = True).head()

          bluecar counter
time
00:00:00                1
14:19:00                1
14:17:00                1
14:16:00                1
14:14:00                1

In [147]:
# Question 3
# What station is the most popular overall?
df2 = df[['address','bluecar counter']].groupby(['address']).count()
df2.sort_values(by='bluecar counter', ascending=False).head()

                                   bluecar counter
address
8 Avenue de la Porte de Montrouge               13
31 boulevard de Grenelle                        11
35 rue Mathis                                   11
69 Rue de Courcelles                            11
1 Rue de WolfenbÃ¼ttel                          11

In [113]:
# Question 4
# What station is the most popular at peak hour?
df3 = df[['address','bluecar counter','time']][(df['bluecar counter']==0)].groupby(df['address']).count()
df3.sort_values(by='time', ascending=False)

                               address  bluecar counter  time
address
31 boulevard de Grenelle            11               11    11
20 Rue Villiot                       9                9     9
12 rue Lavoisier                     8                8     8
6 avenue Foch                        8                8     8
9 rue Philibert Delorme              8                8     8
...                                ...              ...   ...
166 promenade du Verger              1                1     1
17 Rue Custine                       1                1     1
17 Rue Ãmile Zola                   1                1     1
4 rue Beaugrenelle                   1                1     1
27 rue Geoffroy-Saint-Hilaire        1                1     1

[632 rows x 3 columns]

In [148]:
# Question 5
# What postcode is most popular for picking Bluecars by station overall? 
df4 = df[['postal code','address','bluecar counter']].groupby(['postal code','address'])['bluecar counter'].count()
df4.sort_values( ascending=False).head()

postal code  address
75014        8 Avenue de la Porte de Montrouge    13
75011        126 Avenue Philippe Auguste          11
92310        1 Rue de WolfenbÃ¼ttel               11
75019        35 rue Mathis                        11
75015        31 boulevard de Grenelle             11
Name: bluecar counter, dtype: int64

In [149]:
# Question 6
# What postcode is most popular for picking Bluecars by station at peak hour? 

df5 = df[['postal code','address','bluecar counter']][(df['bluecar counter']==0)].groupby(['postal code','address'])['bluecar counter'].count()
df5.sort_values( ascending=False).head()

postal code  address
75015        31 boulevard de Grenelle    11
75012        20 Rue Villiot               9
75016        6 avenue Foch                8
94450        12 rue Lavoisier             8
78280        9 rue Philibert Delorme      8
Name: bluecar counter, dtype: int64

In [150]:
# Question 7
# What postcode is most popular for picking Utilib cars by station overall? 

df6 = df[['postal code','address','utilib counter']].groupby(['postal code','address'])['utilib counter'].count()
df6.sort_values( ascending=False).head()

postal code  address
75014        8 Avenue de la Porte de Montrouge    13
75011        126 Avenue Philippe Auguste          11
92310        1 Rue de WolfenbÃ¼ttel               11
75019        35 rue Mathis                        11
75015        31 boulevard de Grenelle             11
Name: utilib counter, dtype: int64

In [151]:
# Question 8
# What postcode is most popular for picking Utilib cars by station at peak hour? 
df7 = df[['postal code','address','utilib counter']][df['utilib counter']==0].groupby(['postal code','address'])['utilib counter'].count()
df7.sort_values( ascending=False).head()

postal code  address
75011        182 Boulevard Voltaire          11
75015        31 boulevard de Grenelle        11
75008        69 Rue de Courcelles            11
92310        1 Rue de WolfenbÃ¼ttel          11
75016        42 bis avenue Georges Mandel    10
Name: utilib counter, dtype: int64

In [154]:
# Question 9
# What postcode is most popular for picking Utilib 1.4 cars by station overall? 
df8 = df[['postal code','address','utilib 1.4 counter']].groupby(['postal code','address'])['utilib 1.4 counter'].count()
df8.sort_values( ascending=False).head()

postal code  address
75014        8 Avenue de la Porte de Montrouge    13
75011        126 Avenue Philippe Auguste          11
92310        1 Rue de WolfenbÃ¼ttel               11
75019        35 rue Mathis                        11
75015        31 boulevard de Grenelle             11
Name: utilib 1.4 counter, dtype: int64

In [153]:
# Question 10
# What postcode is most popular for picking Utilib 1.4 cars by station at peak hour? 
df9 = df[['postal code','address','utilib 1.4 counter']][df['utilib 1.4 counter']==0].groupby(['postal code','address'])['utilib 1.4 counter'].count()
df9.sort_values( ascending=False).head()

postal code  address
75015        31 boulevard de Grenelle    11
75011        182 Boulevard Voltaire      11
75008        69 Rue de Courcelles        10
75012        46 quai de la RapÃ©e        10
75017        28 rue Darcet               10
Name: utilib 1.4 counter, dtype: int64